{% extends "layouts/header2.html"%} {% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'styles/bids_state.css' %}" />
  </head>
  <body>
    <div class="container-fluid w-75">
      <div class="row">
        <div class="col col-md-4">
          <button onclick="link_to_view('{{ user }}')" class="btn left-btn">Subastas</button>
        </div>
        <div class="col-md-4 offset-md-4">
          <button class="btn right-btn">Mis Ofertas</button>
        </div>
      </div>
      <div class="row">

        <div class="auctions">

        {% for bid in bids %}

          {% for key, value in bid.items %}

            <div class="auction-info col col-md-3">
              <img
              src="{% static 'assets/img/laptop.jpg' %}"
              alt="imagen de mi pablo"
              class="img-fluid"
              />

              {% if value.status == "won" %}

                <div class="info-box">
                  <div class="row">
                      <p class="center auction bold won">Subasta Ganada</p>
                  </div>
                  <div class="row">
                    <p class="center message">Felicidades!</p>
                  </div>
                  <div class="row">
                    <div class="col col-sm-5 offset-sm-1 right">
                      <p class="bold">Precio Inical&nbsp;:</p>
                    </div>
                    <div class="col col-sm-6 left">
                      <p>$&nbsp;{{ value.startPrice }} MXN</p>
                    </div>
                  </div>
                  <div class="row current-bid">
                    <div class="col col-sm-5 offset-sm-1 right">
                      <p class="bold">Oferta Actual&nbsp;:</p>
                    </div>
                    <div class="col col-sm-6 left">
                      <p>$&nbsp;{{ value.currentBid }} MXN</p>
                    </div>
                  </div>
                  <div class="row mail-to">
                    <p class="send">Enviar correo al vendedor</p>
                    <button class="btn btn-primary mail-to-button" onclick="enviarMail()">Enviar</button>
                  </div>
                </div>

              {% endif %}
              {% if value.status == "lost" %}

                <div class="info-box">
                  <div class="row">
                      <p class="center auction bold lost">Subasta Perdida</p>
                  </div>
                  <div class="row">
                    <p class="center message">Tu oferta no fue ganadora</p>
                  </div>
                  <div class="row">
                    <div class="col col-sm-5 offset-sm-1 right">
                      <p class="bold">Precio Inicial&nbsp;:</p>
                    </div>
                    <div class="col col-sm-6 left">
                      <p>$&nbsp;{{ value.startPrice }}</p>
                    </div>
                  </div>
                  <div class="row current-bid">
                    <div class="col col-sm-5 offset-sm-1 right">
                      <p class="bold">Oferta Actual&nbsp;:</p>
                    </div>
                    <div class="col col-sm-6 left">
                      <p>$&nbsp;{{ value.currentBid }}</p>
                    </div>
                  </div>
                  
                </div>

              {% endif %}
              {% if value.status == "active" %}

                <div class="info-box">
                  <div class="row">
                      <p class="center auction bold finished">Subasta Finalizada</p>
                  </div>
                  <div class="row">
                    <p class="center message">Retiraste tus fondos</p>
                  </div>
                  <div class="row">
                    <div class="col col-sm-5 offset-sm-1 right">
                      <p class="bold">Precio Inicial&nbsp;:</p>
                    </div>
                    <div class="col col-sm-6 left">
                      <p>$&nbsp;{{ value.startPrice }}</p>
                    </div>
                  </div>
                  <div class="row current-bid">
                    <div class="col col-sm-5 offset-sm-1 right">
                      <p class="bold">Oferta Actual&nbsp;:</p>
                    </div>
                    <div class="col col-sm-6 left">
                      <p>$&nbsp;{{ value.currentBid }}</p>
                    </div>
                  </div>
                </div>

              {% endif %}
            </div>

          {% endfor %}
      

        {% endfor %}

        </div>

        
      
    </div>

    <script>
      function link_to_view(user_id) {
        window.location.href = "{% url 'bids' user_id='temp' %}".replace("temp", user_id);
      }

      function enviarMail() {
        window.location.href = "mailto:pablogpp88@gmail.com?subject=Ganador%20Subasta&body=Me%20gustaría%20cancelar%20mi%20puja";;
      }
    </script>

  </body>
</html>

{% endblock %}
