{% extends "layouts/header2.html"%} {% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'styles/bids.css' %}" />
  </head>
  <body>
    <div class="container-fluid w-75">
      <div class="row">
        <div class="col col-md-4">
          <button class="btn">My Bids</button>
        </div>
        <div class="col-md-4 offset-md-4">
          <button class="btn left">My Auctions</button>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-4 info">
          <img
            src="{% static 'assets/img/laptop.jpg' %}"
            alt="imagen de mi pablo"
            class="img-fluid"
          />
        </div>
        <div class="col col-md-4 info">
          <img
            src="{% static 'assets/img/laptop.jpg' %}"
            alt="imagen de mi pablo"
            class="img-fluid"
          />
        </div>
        <div class="col col-md-4 info">
          <img
            src="{% static 'assets/img/laptop.jpg' %}"
            alt="imagen de mi pablo"
            class="img-fluid"
          />
        </div>
      </div>
      <div class="row">
        <div class="col col-md-4 info">
          <div class="info-box">
            <div class="row">00:00:00</div>
            <div class="row">
              <p>Start Price :</p>
              <p>$ 000.000</p>
            </div>
            <div class="row w-100">
              <p>Current Bid :</p>
              <p>$ 000.000</p>
            </div>
          </div>
        </div>
        <div class="col col-md-4 info">
          <div class="info-box">a</div>
        </div>
        <div class="col col-md-4 info">
          <div class="info-box">a</div>
        </div>
      </div>
    </div>
  </body>
</html>

{% endblock %}
