{% extends "layouts/header2.html"%} {% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Product Information</title>
    <link rel="stylesheet" href="{% static 'styles/global.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/new_product.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>

  <style>
    .btn-sig {
      transition: all 0.3s;
      margin-top: 1rem;
      grid-column: 1/4;
      height: 3rem;
      background-color: #11698e;
      border: transparent;
      border-radius: 1rem;
      color: #f8f1f1;
      font-size: 1.3rem;
      font-weight: bold;
}
  </style>
  <body style="background-color: #f8f1f1">
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script>
          function changemainimg(imagen) {
            var imagenPrincipal = document.getElementById("imagenPrincipal");
            imagenPrincipal.src = imagen.src;
          }
        </script> -->
    <h2 class="title-new-product">Editar Información del Producto</h2>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <section class="container-new-product">
        <div class="new-product-part">
          <div>
            <h3>Título del producto</h3>
            {{form.title}}
          </div>
          <div>
            <h3>Descripción del producto</h3>
            {{form.description}}
          </div>
          <div>
            <h3>Adjuntar fotos del producto</h3>
            <div>
              {{form.images}}
            </div>
          </div>
          <div class="checkbox-type-sale">
            <div><p>Venta Directa</p>{{form.directSale}}</div>
            <div><p>Subasta</p>{{form.auction}}</div>
          </div>
        </div>
        <div class="new-product-part">
          <div>
            <h3>Precio por unidad</h3>
            {{form.price}}
          </div>
          <div>
            <h3>Unidades disponibles</h3>
            {{form.stock}}
          </div>
          <div>
            <h3>Precio de Inicio</h3>
            {{form.startingPrice}}
          </div>
          <div>
            <h3>Duración en días</h3>
            {{form.durationDays}}
        </div>
          <div>
            <h3>Precio de C/I</h3>
            {{form.priceCI}}
        </div>
          <br/>
          <button class="btn-sig">Guardar</button>
         </div>
      </section>
    </form>
  </body>
</html>

{% endblock %}
