{% extends "layouts/header2.html"%}


{% block content %}

  {% load static %}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Landing</title>
      <link rel="stylesheet" href="{% static 'styles/mis_ventas.css' %}" />
    </head>
    <body>
    
      <!-- Contadores -->
      <div class="container" >
        <div class="counters">
          <div class="counter">
            <span class="counter-value">{{ num_vendidos }}</span>
            <span class="counter-label">Activo</span>
          </div>
          <div class="counter">
            <span class="counter-value">{{ totalSales }}</span>
            <span class="counter-label">Vendido</span>
          </div>
          <div class="counter">
            <span class="counter-value">{{ nonum_vendidos }}</span>
            <span class="counter-label">No vendido</span>
          </div>
        <div class="counter">
          <span class="counter-value">${{ tot_ventas }}</span>
          <span class="counter-label">Total Vendido</span>
        </div>
        <div class="counter">
          <button class="sell-button">Vender Articulo</button>
        </div>
      </div>
      </div>
    <!-- Contadores -->

    <!-- Sección 1 -->
    <div class="container">
      <h2 class="text-left">Objetos Vendidos</h2>
      <div class="counters">
        {% for context in context_list %}
        <div>
          <div class="food-menu-box">
            <div>
              <div class="food-menu-img">
                <img src="../static/assets/img/laptop.jpg" class="img-responsive img-curve">
              </div>
    
              <div class="food-menu-desc">
                <h4 class="food-title">{{ context.title }}</h4>
                <p class="food-price">${{ context.price }}</p>
                <p class="food-detail">
                  {{ context.description }}
                </p>
                <!-- <br> -->
    
              </div>
            </div>
            <a href="{% url 'details' user_id=user product_id=context.product_id %}" class="btn btn-primary">Ver producto</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- Fin Sección 1 -->

    <!-- Sección 2 -->
    <div class="container">
      <h2 class="text-left">Objetos Vendidos</h2>
      <div class="counters">
        {% for nocontext in nocontext_list %}
        <div class="food-menu-box">
          <div>
            <div class="food-menu-img">
              <img src="../static/assets/img/laptop.jpg" class="img-responsive img-curve">
            </div>
  
            <div class="food-menu-desc">
              <h4 class="food-title">{{ nocontext.title }}</h4>
              <p class="food-price">${{ nocontext.price }}</p>
              <p class="food-detail">
                {{ nocontext.description }}
              </p>
              <!-- <br> -->
  
            </div>
          </div>
          <a href="{% url 'details' user_id=user product_id=nocontext.product_id %}" class="btn btn-primary">Ver producto</a>
        </div>
      </div>
        {% endfor %}
      </div>
    </div>
    <!-- Fin Sección 1 -->
    
</body> 

{% endblock %}