{% extends "layouts/header2.html"%} {% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing</title>
    <link rel="stylesheet" href="{% static 'styles/my_products.css' %}" />
  </head>
<body>

    {% for product in products %}
        {% for key, value in product.items %}
        <div class="container" style="margin-top: 5%;">
            <div class="item">
                <img src="https://www.lenovo.com/medias/?context=bWFzdGVyfHJvb3R8MjAyMjE5fGltYWdlL3BuZ3xoY2YvaDEyLzE0NzMwMTY4MDc0MjcwLnBuZ3w1NzFhNmVlYjQ0ODFmMDgxYzA3NWQ2YWQ5ZDZlOWQ2ODFmOTA5YTYxYTVjZGIyMTRmNzI2ZWI3MGMzOTNlZjE4" alt="Product Image">
                <div>
                    <div class="title">Product Title {{ value.productName }}</div>
                    <div class="price">Precio por unidad {{ value.price }}</div>
                    <div class="inventory">Unidades disponibles {{ value.quantity }}</div>
                </div>
            </div>
        
        </div>
        {% endfor %}
    {% endfor %}


    <div class="bar-button">
        <button>Add Product</button>
    </div>
</body>
</html>
{% endblock %}





