

  {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing</title>
    <link rel="stylesheet" href="{% static 'styles/signup_1.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="blue_box">
        <div class="flex-3">
          <h1 class="tittle">Primer Paso, Conocerte Mejor</h1>
        <div class="flex-2">
          <form method="POST" class = "form">
            {{ form.name }}
            {{ form.last_name }}
            {{ form.mom_last_name }}
            {{ form.cellular }}
          </form>
          <img class="img" src="{% static 'assets/img/Logo.png' %}" alt="Logo image">
        </div>
        <div class="flex-2">
          <button class="btn-sig">Siguiente</button>
        <div class="spacer"></div>
        
      </div> 
        </div>
        </div>
      </div>
    </div>
  </body>
</html>

