{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing</title>
    <link rel="stylesheet" href="{% static 'styles/signup_2.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="blue_box">
        <h1 class="title">Estas un paso más cerca</h1>
        <div class="flex-4">
          <h1 class="subtitle">Dirección</h1>
          <form action="" class="grid">
            <input type="text" class="form-input" placeholder="País" />
            <input type="text" class="form-input" placeholder="Estado" />
            <input type="text" class="form-input" placeholder="Ciudad" />
            <input
              type="text"
              class="form-input calle-grid"
              placeholder="Calle"
            />
            <input
              type="text"
              placeholder="CP"
              class="form-input"
              pattern="[0-9]{1,10}"
              name=""
              id=""
            />
          </form>
          <div class="flex-3">
            <h2 class="subtitle">Identificación</h2>
            <p class="normal-text">
              Debes subir una imagen con tu identificación oficial en formato
              png, jpg o jpeg
            </p>
            <button class="img-btn">Cargar imagen</button>
          </div>
          <button class="btn-sig">Siguiente</button>
        </div>
      </div>
    </div>
  </body>
</html>
