{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing</title>
    <link rel="stylesheet" href="{% static 'styles/signup_3.css' %}" />
  </head>
  <body>
    <div class="container">
      <h1 class="title">
        Solo unos datos mas $user y tendras tu cuenta lista !
      </h1>
      <div class="flex-box">
        <form action="" class="flex-form">
          <input
            class="form-input"
            placeholder="Corre Electrónico"
            type="text"
          />
          <input class="form-input" placeholder="Contraseña" type="password" />
          <div class="list">
            <p>Para una mejor seguridad tu contraseña debe tener :</p>
            <ul>
              <li>8 Caracteres</li>
              <li>Letras MAYUSCULAS</li>
              <li>Letras minusculas</li>
              <li>Simbolos Especiales (#$%&)</li>
              <li>Digitos</li>
            </ul>
          </div>
          <input
            class="form-input"
            placeholder="Confirma tu Contraseña"
            type="password"
          />
          <div class="flex-2">
            <input class="form-check" type="checkbox" />
            <p class="terminos">Acepto terminos y condiciones.</p>
          </div>
          <button class="btn-sig">Crear mi cuenta</button>
        </form>
        <img
          class="logo"
          src="./../static/assets/img/Logo.png"
          alt="Logo image"
        />
      </div>
    </div>
  </body>
</html>
