body {
  background-color: #f8f1f1;
}

.container-fluid {
  margin-top: 4%;
}

.auctions {
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.auction-info {
  width: 23%;
}

.bold {
  font-weight: bold;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0;
}

.btn {
  margin: 0 0;
  width: 100%;
  color: #f8f1f1;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 1.2px;
  border: transparent;
  border-radius: 0.5rem;
  box-shadow: 0 3px #0000003f;
}

.left-btn {
  background-color: #11698e;
}

.right-btn {
  background-color: #16c79a;
}

.img-fluid {
  border-radius: 5px;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.info-box {
  width: 100%;
  height: fit-content;
  border-radius: 5px;
  background-color: #f1eaea;
  box-shadow: -1px 4px 7px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: -1px 4px 7px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: -1px 4px 7px 0px rgba(0, 0, 0, 0.4);
}

p {
  font-size: 1.5rem;
  margin-left: 1rem;
}

.message {
  font-size: 1.2rem;
  margin-left: 0;
  color: rgb(102, 101, 101);
  margin-bottom: 3rem;
}

.auction {
  font-size: 2.0rem;
  margin-top: 1rem;
  margin-left: 0;
  margin-bottom: 0;
}

.won {
  color: #16c79a;
}

.lost {
  color: #ab3131;
}

.finished {
  color: #11698e;
}

.current-bid {
  padding-bottom: 2.4rem;
}
