.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #19456B;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 15%;
}

.login-img {
  border-radius: 10%;
}

.welcome-title {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 10%;
  color: #F8F1F1;
}

.signin-title {
  margin-top: 10%;
  align-items: start;
  text-align: left;
  justify-content: start;
}

.right {
  right: 0;
  background-color: #19456B;
}

.logo {
  width: max-content;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-container {
  margin-top: 5%;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.form-group {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}

.login-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.login-btn {
  background-color: #11698E;
  border: none;
  width: 100%;
  font-weight: bold;
  font-size: 1.2rem;
  height: 3rem;
  color: #F8F1F1;
}

.login-btn:hover {
  background-color: #0f5572;
}

.register-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-btn {
  background-color: #16C79A;
  border: none;
  width: 100%;
  font-weight: bold;
  height: 3rem;
  font-size: 1.2rem;
}

p {
  width: 100%; 
  text-align: center; 
  color: #F8F1F1;
  border-bottom: 1px solid #F8F1F1; 
  line-height: 0.1em;
  margin: 10px 0 10px;
}

p span { 
  background:#19456B; 
  padding:0 10px;
}

.or {
  margin-top: 10px;
  margin-bottom: 10px;
}

.register-btn:hover {
  background-color: #129e7b;
}

.password-help {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.password-help-text {
  text-decoration: none;
  color : #F8F1F1;
  font-weight: bold;
  font-style: italic;
}

form {
  display: flex;
  flex-direction: column;
  width: 40%;
}