* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:hover {
    color: #000000;
}

ul {
    margin-bottom: 0;
    padding-left: 0;
}

.menu_bar{
    display: none;
}

header #img_banner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 170px;
}


header{
    width: 100%;
    background-color: #000000;
    /* background-image: url("https://www.transparenttextures.com/patterns/maze-black.png"); */
}

header nav{
    background-color: #FECE00;
    /* background-image: url("https://www.transparenttextures.com/patterns/maze-black.png"); */
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul {
    list-style: none;
}

header nav ul li{
    display: inline-flex;
    font-size: 14pt;
    border-radius: 14px;
    transition: background .3s ease;
}


header nav ul li:hover{
    outline: none !important;
    box-shadow: none;
    background: #d4ad00;
    border-radius: 14px;
    transition: background .3s ease;
    
}

header nav ul li a{
    color: black;
    display: block;
    text-decoration: none;
    padding: 20px;
}



header nav ul li a span{
    margin-right: 10px;
}

header nav ul li:hover .children{
    display: block;
}

header nav ul li .children{
    display: none;
    border-radius: 14px;
    background: #d4ad00;
    position: absolute;
    width: 150%;
    z-index: 10000;
}

header nav ul li .children li{
    display: block;
    overflow: hidden;
    border-bottom: 1px solid rgba(255 255 255 .5);
}

header nav ul li .children li:hover{
    background: #FECE00;
}

header nav ul li .children li a{
    display: block;
    font-size: 12pt;
}

header nav ul li .children li a span{
    float: right;
    position: relative;
    top: 3px;
    margin-right: 0;
    margin-left: 10px;
}

header nav ul li .slide_icon{
    position: relative;
    top: 3px;
    margin-left: 10px;
    margin-right: 0px;
}

/* Menu en pantallas moviles */
@media screen and (max-width: 1180px) {
    body{
        padding-top: 100px;
    }

    header #img_banner{
        display: none;
    }

    header nav{
        background-color: #FECE00;
        /* background-image: url("https://www.transparenttextures.com/patterns/maze-black.png"); */
        z-index: 1000;
        width: 100%;
        display: block;
    }

    .menu_bar{
        display: block;
        width: 100%;
        position: fixed;
        z-index: 1000;
        top: 0;
        background: #000000;
    }

    .menu_bar .b_menu{

        display: block;
        padding: 20px 20px 30px 20px;
        color: #EBE3D5;
        overflow: hidden;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
    }

    .menu_bar span{
        float: right;
        font-size: 40px;
    }

    .menu_bar img {
        width: 80px;
        height: 50px;
    }
    

    header nav{
        width: 100%;
        height: calc(100% - 80px);
        position: fixed;
        right: 100%;
        margin: 0;
        overflow: scroll;
    }

    header nav ul li{
        display: block;
        border-bottom: 1px solid rgba(255, 255, 255, .5);

    }

    header nav ul li a{
        display: block;
    }

    header nav ul li:hover .children{
        display: none;
    }

    header nav ul li .children{
        width: 100%;
        position: relative;
    }

    header nav li .children li a {
        margin-left: 20px;
    }

    header nav li .slide_icon{
        float: right;
    }
}