body {
    background-color: #F8F1F1;
}

.container {
    width: 70%;
    display: flex;
    flex-direction: column;
    border: 0px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: -1px 4px 7px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: -1px 4px 7px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: -1px 4px 7px 0px rgba(0, 0, 0, 0.4);
}



.item {
    display: flex;
    align-items: center;
}

.item img {
    max-width: 200px;
    margin-right: 20px;
}

.title {
    font-size: 20px;
    color: #858585;
    font-weight: bold;
    margin-bottom: 30px;
}

.price {
    font-size: 20px;
    color: #858585;
    font-weight: bold;
    margin-bottom: 30px;
}

.inventory {
    font-size: 20px;
    color: #858585;
    font-weight: bold;
}

.bar-button {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #11698e;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.bar-button button {
    background-color: transparent;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #f8f1f1;
    border: none;
    font-size: 25px;
}
