@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* CSS Variables */
:root {
  --normal-font: 400;
  --bold-font: 600;
  --bolder-font: 900;
  --primary-color: #0652dd;
  --secondary-color: #ea2027;
  --line-height: 1.7rem;
  --transition: 0.4s ease-in;
}

/* Smooth scroll effect */
html {
  scroll-behavior: smooth;
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: var(--transition);
}

 body {
  font-family: "Roboto", sans-serf;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
} 

body {
    background-color: #F8F1F1;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
  }

  .fist {
    color: var(--secondary-color);
  }
  
  .jab {
    color: var(--primary-color);
  }
  
  .tv {
    color: var(--secondary-color);
  }

  nav {
    background: #19456B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 3px 2px #f1f1f1;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-box {
    background-color: #fff;
    width: 90%;
    max-width: 650px;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 40px;
    position: relative;
    overflow: hidden;
  }

  .search-box input {
    flex: 1;
    padding: 15px 10px;
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 20px;
  }

  .search-box button {
    padding: 10px 15px;
    border: 0;
    outline: 0;
    background: transparent;
    cursor: pointer;
  }

  .hamburger {
    display: none;
  }

  .logo {
    font-size: 2rem;
    font-weight: 500;
  }
  
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-item {
    margin-left: 2rem;
  }
  
  .nav-link {
    font-weight: var(--bold-font);
  }

